---
---
<!DOCTYPE html>
<html lang="en">

<head>
  <link href="assets/css/main.css" rel="stylesheet">
  <title>{{site.title}}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="assets/js/snake.js"></script>
  <script>

    function loop(callback) {
      function callback_loop(t = 0) {
        if (t > 0) callback(t);
        window.requestAnimationFrame(callback_loop);
      }
      callback_loop();
    }

    $(window).on("load", function () {

      var snake = null;

      var header = $("#interactive-header");
      function restart() {
        let width = header.innerWidth();
        let height = header.innerHeight();

        width -= width % Snake.res;
        height -= height % Snake.res;

        if (snake !== null) {
          if (snake.width == width && snake.height == header) return;
          snake.destroy();
        }
        snake = new Snake(width, height);
      }

      $(window).resize(restart);
      restart();

      loop(function (time) {
        snake.update(time);
        header.css("background-image", `url("${snake.canvas.toDataURL("image/png")}")`);
      });

    });
  </script>
</head>

<body>
  <header id="interactive-header">
    <h1>{{site.title}}</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
      exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
      irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
      pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
      officia deserunt mollit anim id est laborum.
    </p>

  </header>

  <main>
    <section>
      <h2>Articles</h2>
      {% include post-list.html category="articles" %}
    </section>

    <section>
      <h2>Projects</h2>
      {% include post-list.html category="projects" %}
    </section>
  </main>

  <footer></footer>
</body>

</html>