---
---

@import 'bootstrap/bootstrap';
@import url(highlight/monokai.css);

$page-width: 800px;
$buffer-padding: 10px;

body, html, main {
    // those are needed for bootstrap tooltips to be centered correctly
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

header {
    // general header styling

    background-color: #1e1e2f;
    color: #ccc;

    padding: {
        top: 100px;
        bottom: 50px;
    }

    // center all children
    @extend .align-items-center;
    > * {
        max-width: $page-width;
        margin: {
            left: auto;
            right: auto;
        }
        padding: {
            left: $buffer-padding;
            right: $buffer-padding;
        }
        text-align: center;
    }

    .social-icon {
        border: 0;
        padding: 5px;
        margin: 5px;
        & > svg {
            width: 32px;
            height: 32px;
            fill: #ccc;
        }
    }

    .social-icon-github {
        border-radius: 30px;
        &:hover {
            background-color: #ffffff;
            & > svg {
                fill: #242424;
            }
        }
    }

    .social-icon-linkedin {
        &:hover {
            background-color: #ffffff;
            & > svg {
                fill: #2867B2;
            }
        }
    }

    .social-icon-resume {
        &:hover {
            & > svg {
                fill: #28a745;
            }
        }
    }
}

main {
    max-width: $page-width;
    margin: {
        left: auto;
        right: auto;
    }
    padding: 50px $buffer-padding;
}

div.highlighter-rouge
{
    div.highlight {
        background: none;
    }
    pre.highlight {
        font-size: 80%;
        padding: 20px;
        width: 55em;
        border-radius: 5px;
        border: 1px solid black;
    }
}

footer {
    background-color: black;
    color: white;
    height: 30px;
}
