---
---
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="/assets/css/main.css">
  <title>{{site.title}}</title>
</head>

<body>
  <header>
    <h1>{{site.title}}</h1>
  </header>
  <nav class="navbar navbar-expand navbar-light bg-light">
    <ul class="navbar-nav">
      {% for item in site.data.nav %}
      <li class="nav-item {% if item.url == page.url %}active{% endif %}">
        <a class="nav-link" href="{{item.url}}">{{item.title}}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  <main>
    {{content}}
  </main>
  <footer></footer>
</body>